.wrapper {
    margin: 0 auto;
    width: 1280px;
}

.logo {
    height: 180px;
    line-height: 200px;
}

.logo a {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    text-decoration: none;
    color: #000;
    -webkit-animation: logotype 3s ease-in-out 0.5s ;
         -o-animation: logotype 3s ease-in-out 0.5s;
            animation: logotype 3s ease-in-out 0.5s;
}

@keyframes logotype {
    from {
        transform: rotateY(0);
    }
    to {
       transform: rotateY(360deg);
    }
}

.inner-color {
    color: #4bcaff;
}

.menu {
    height: 75px;
    background-color: #35444f;

}

.menu div {
    width: 975px;
    margin: 0 auto;
    line-height: 75px;
}

.menu_item {
    padding: 0 32px;
    display: inline-block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}

.menu_item:hover {
    background-color: #222f3a;
    -webkit-transition-property: background-color;
       -moz-transition-property: background-color;
         -o-transition-property: background-color;
            transition-property: background-color;
    transition-duration: 0.5s;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.section {
    padding-top: 50px;
}

.left-menu {
    padding: 1px;
    display: inline-block;
    width: 344px;
    border: 1px solid #35444f;
}

.left-menu_itm {
    padding: 30px 0 30px 45px;
    height: 84px;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #495863;
    text-decoration: none;
    transition: padding-left, background-color, color, 0.5s ease;
}

.left-menu_itm:hover {
    padding-left: 70px;
    color: #000;
    background-color: #dbdbdb;
}
.content {
    margin-left: 41px;
    display: inline-block;
    width: 885px;
    vertical-align: top;
}

.content_img {
    height: 530px;
    width: 885px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #35444f;
    background-color: #fff;
    overflow: hidden;
}

.content_img img {
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
}
.content_img:hover img {
    transform: scale(1.25);
}

.content_text {
    margin: 45px 35px;
}

.content_text p {
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.footer {
    margin-bottom: 30px;
    height: 70px;
    width: 100%;
    display: inline-block;
    background-color: #b4b7ba;
}

.nav {
    margin-left: 34px;
    display: inline-block;
    vertical-align: center;
}

.nav a {
    margin: 20px 10px;
    display: inline-block;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: #0c1927;
    text-decoration: none;
    -webkit-transition: color 0.5s ease;
       -moz-transition: color 0.5s ease;
         -o-transition: color 0.5s ease;
            transition: color 0.5s ease;
}

.nav a:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}

.other {
    margin-right: 35px;
    margin-left: 148px;
    display: inline-block;
}

.other p {
    margin-top: 24px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #0c1927;
}


